{% extends 'base.html'%}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
<div class="container-fluid" style="padding-bottom:10%"> 
    <div class="container" style="padding-top:10%">
        <div class="row">
          <div class= "col-md-2"> </div>
          <div class="col-md-8">
              <h3> Drop Comment </h3>
          <!--Flash message -->
          <form method="POST" action="">

                {{ forms.csrf_token }}

                <div class="form-group meme">
                    {{ forms.comment.label(class="form-control-label") }}
                    {% if forms.comment.errors %}
                        {{ forms.comment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in forms.comment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ forms.comment(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group" style=" color:black;padding-left:30%;padding-right:30%">
                    
                        {{ forms.submit(class="form-control form-control-lg") }}
                
                </div>
            <p> You don't have an account? <a href="{{url_for('auth.create_account')}}">Sign up </a></p>
        </form>    
        </div>
            <div clas="col-md-2"> 
                <h4 style="color:white"> Your comment</h4> 
                {%for comment in comments%}
                    {{comment.comment}}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock%}